{% load widget_tweaks %}
<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-4" id="charts-container">
    <div class="col-span-3">
        {{income_expenses_bar|safe}}
        <div class="grid gird-cols-2 gap-4 mt-3">
            {{ income_category_pie|safe }}
            {{ expenses_category_pie|safe }}
        </div>
    </div>
    <div class="col-span-1">
      <form 
        hx-get="{% url 'transactions_charts' %}"
        hx-target="#charts-container"
        hx-swap="outerHTML"
        hx-include="#spinner"
        id= 'filter-form'

      >
        <div class="mb-2 form-control">
          {{ filter.form.transaction_type|add_label_class:"label text-white" }} 
          {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900" %}
        </div>
        <div class="mb-2 form-control">
          {{ filter.form.start_date|add_label_class:"label text-white" }} 
          {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900" %}
        </div>
        <div class="mb-2 form-control">
          {{ filter.form.end_date|add_label_class:"label text-white" }} 
          {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900" %}
        </div>
        <div class="mb-2 form-control">
          {% render_field filter.form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500" %}
        </div>
        <button class="btn btn-success">Filter</button>
        <span id='spinner' class="loading loading-spinner loading-lg text-secondary htmx-indicator"></span>
      </form>
      
    </div>
  </div>